* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(228, 207, 207);*/
    /* background-image: linear-gradient(to right, #FFC0CB, rgb(139, 232, 255));*/
    background-image: linear-gradient(to right, #faedf0, rgb(175, 175, 175));
}



.text {
    text-align: center;
    margin-top: 30px;
}

.text h1 {
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 20px rgb(236, 227, 227);
}

.logo {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-height: 500px;
    max-width: 500px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}